.footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0;
  background-color: grey;
  color: white;
  text-align: center;

  .footer-col {
    margin-top: 16px;
  } 
}