.welcome-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: lightgrey;

  .avatar {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
}